
  <form action="articles/edit/<%= index %>">
  	<label for="articleTitle">Title</label>
  	<input type="text" class="form-control" id="title" value="<%= article.title %>" name="title">

  	<label for="articleBody">Body</label>
  	<input type="textarea" class="form-control" id="body" value="<%= article.body %>"name="body">

  	<input type="text" class="hidden" id="idx" name="idx" value="<%= index %>">

  	<input id="articleForm" type="button" value="Update">
</form>

<script>
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script>
  $('[type=button]').on('click', function(e) {
    e.preventDefault();
    var updateUrl = $(this).parent().attr('action');
    var articleData = $(this).parent().serialize();
    $.ajax({
      method: 'PUT',
      url: deleteUrl,
      data: articleData
    }).done(function(data) {
    });
  });
</script>

    
    